/* line 1, ../homepagecss/sass/_base.scss */
body {
  color: #000;
  font-family: Courier New, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  min-width: 620px;
  margin: 0 auto;
}

/* line 8, ../homepagecss/sass/_base.scss */
header {
  height: 45px;
  width: 100%;
  position: relative;
}
/* line 12, ../homepagecss/sass/_base.scss */
header #bottom_strip {
  background-color: white;
  float: left;
  width: 100%;
  margin-top: 23px;
  margin-bottom: 1px;
}
/* line 18, ../homepagecss/sass/_base.scss */
header #bottom_strip ul {
  float: right;
}
/* line 20, ../homepagecss/sass/_base.scss */
header #bottom_strip ul li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 900;
}
/* line 26, ../homepagecss/sass/_base.scss */
header #bottom_strip ul li a {
  color: #909090;
}
/* line 32, ../homepagecss/sass/_base.scss */
header #title {
  margin-top: 10px;
  position: absolute;
  background-color: white;
  width: 180px;
  padding-left: 1%;
  padding-top: 15px;
  padding-bottom: 4px;
}
/* line 42, ../homepagecss/sass/_base.scss */
header form {
  float: right;
  border: 1px solid #909090;
  background-color: white;
}
/* line 46, ../homepagecss/sass/_base.scss */
header form .keyword {
  float: left;
  color: #222;
  border: none;
  padding-left: 3px;
  width: 126px;
  height: 18px;
  margin-right: 2px;
}
/* line 55, ../homepagecss/sass/_base.scss */
header form #searchbuttonRight {
  float: left;
  right: -16px;
  margin-top: 1px;
}

/* line 62, ../homepagecss/sass/_base.scss */
footer {
  height: 30px;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
  background-color: white;
  float: left;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 40px;
}
/* line 70, ../homepagecss/sass/_base.scss */
footer #address {
  color: #909090;
  padding-left: 5px;
  padding-top: 7px;
  font-size: 12px;
}

/* line 77, ../homepagecss/sass/_base.scss */
#main {
  float: left;
  width: 100%;
  color: #000;
  background-color: white;
}
/* line 82, ../homepagecss/sass/_base.scss */
#main p {
  word-wrap: break-word;
}
/* line 85, ../homepagecss/sass/_base.scss */
#main .content {
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 91, ../homepagecss/sass/_base.scss */
#main .content .title {
  font-size: 16px;
  font-weight: 900;
}
/* line 95, ../homepagecss/sass/_base.scss */
#main .content .date {
  color: #999;
  font-size: 14px;
}
/* line 99, ../homepagecss/sass/_base.scss */
#main .content h1 {
  font-size: 16px;
}
/* line 101, ../homepagecss/sass/_base.scss */
#main .content h1 a {
  color: #000;
}
/* line 105, ../homepagecss/sass/_base.scss */
#main .content p {
  font-size: 14px !important;
  line-height: 20px !important;
}
/* line 109, ../homepagecss/sass/_base.scss */
#main .content .navigation {
  width: 100%;
  float: left;
  height: 60px;
}
/* line 116, ../homepagecss/sass/_base.scss */
#main .last {
  border-bottom: none;
}
/* line 119, ../homepagecss/sass/_base.scss */
#main .post {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 122, ../homepagecss/sass/_base.scss */
#main .post form {
  width: 45.0%;
}
/* line 124, ../homepagecss/sass/_base.scss */
#main .post form input {
  height: 25px;
  border: 1px solid #909090;
  width: 75%;
}
/* line 129, ../homepagecss/sass/_base.scss */
#main .post form input[type=submit] {
  background-color: #666;
  border: none;
  font-size: 14px;
  color: white;
  text-align: left;
  width: 35.5%;
}
/* line 140, ../homepagecss/sass/_base.scss */
#main #catlist {
  padding-left: 10px;
}
/* line 142, ../homepagecss/sass/_base.scss */
#main #catlist li {
  list-style-type: none;
  padding: 0.5em 0 0.5em 0;
  border: none;
  font-size: 12px;
}
/* line 149, ../homepagecss/sass/_base.scss */
#main #page-container {
  float: left;
  width: 100%;
  overflow: hidden;
}
/* line 154, ../homepagecss/sass/_base.scss */
#main #page-container .last {
  margin-bottom: 0px;
}
/* line 157, ../homepagecss/sass/_base.scss */
#main #page-container #left-bar {
  height: 100%;
}
/* line 160, ../homepagecss/sass/_base.scss */
#main #page-container #sidebar {
  width: 27%;
  margin-left: -1px;
  margin-right: 0;
  height: 100%;
}
/* line 165, ../homepagecss/sass/_base.scss */
#main #page-container #sidebar #barcontent {
  margin-left: 1px;
  margin-top: 1px;
  margin-right: -1px;
  margin-bottom: 0;
  background-color: #fff;
  padding-top: 20px;
  position: relative;
}
/* line 173, ../homepagecss/sass/_base.scss */
#main #page-container #sidebar #barcontent .arrow-link {
  background-image: url("../images/arrow_left.png");
  background-repeat: no-repeat;
  background-position: 95% center;
}
/* line 178, ../homepagecss/sass/_base.scss */
#main #page-container #sidebar #barcontent h2 {
  padding-left: 10px;
}
/* line 182, ../homepagecss/sass/_base.scss */
#main #page-container #sidebar #barcontent .sidetitle {
  border-bottom: 1px solid #999;
  padding-bottom: 0.5em;
  font-size: 16px;
}
/* line 192, ../homepagecss/sass/_base.scss */
#main ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
/* line 195, ../homepagecss/sass/_base.scss */
#main ul li {
  font-size: 12px;
  list-style-type: none;
  border-bottom: thin solid #dedede;
  padding: 0.5em 10px 0.5em 10px;
}
/* line 200, ../homepagecss/sass/_base.scss */
#main ul li a {
  color: #6264ad;
}
/* line 203, ../homepagecss/sass/_base.scss */
#main ul li a:hover {
  color: #f612fe;
}
/* line 207, ../homepagecss/sass/_base.scss */
#main ul ul {
  margin: 1em 0 1em 0;
  padding: 0 0 0 0px;
}
/* line 210, ../homepagecss/sass/_base.scss */
#main ul ul li {
  width: 100%;
  background: url("../images/list-icon.png") no-repeat left top;
  background-size: 7px 7px;
  list-style-type: none;
  background-position: 10px 4px;
  padding: 0px 0px 0.5em 24px;
  vertical-align: middle;
  border-bottom: thin solid #dedede;
}
/* line 220, ../homepagecss/sass/_base.scss */
#main ul ul .selected {
  background: url("../images/list-icon-dwn.png") no-repeat left top;
  background-position: 10px 5px;
  background-size: 7px 7px;
}
/* line 225, ../homepagecss/sass/_base.scss */
#main ul ul ul {
  margin: 1em 0;
  padding: 0 0 0 0px;
}
/* line 228, ../homepagecss/sass/_base.scss */
#main ul ul ul li {
  list-style-type: none;
  background: none;
  margin: 0.5em 0;
  border: none;
}

/* line 240, ../homepagecss/sass/_base.scss */
.container_4 {
  margin-top: 40px;
}

/* line 243, ../homepagecss/sass/_base.scss */
.spacer {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 10px;
}

/* line 251, ../homepagecss/sass/_base.scss */
.thin_rule {
  width: 100%;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
  padding-bottom: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
/* line 258, ../homepagecss/sass/_base.scss */
.thin_rule a {
  color: #6264ad;
}
/* line 261, ../homepagecss/sass/_base.scss */
.thin_rule a:hover {
  color: #d2d2e8;
}

/* line 265, ../homepagecss/sass/_base.scss */
a {
  text-decoration: none;
}

/* line 270, ../homepagecss/sass/_base.scss */
.col1 h2 {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 274, ../homepagecss/sass/_base.scss */
.col1 h2 .caption {
  color: #909090;
  font-weight: 500;
}

/* line 281, ../homepagecss/sass/_base.scss */
.col h2 {
  font-size: 12px;
  color: #909090;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 288, ../homepagecss/sass/_base.scss */
.col h3 {
  font-size: 12px;
  font-weight: 500;
  color: #6264ad;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 294, ../homepagecss/sass/_base.scss */
.col h3 .date {
  color: #909090;
}

/* line 301, ../homepagecss/sass/_base.scss */
#comments {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
}
#commentform {
  width: 100%;
  float: left;
}
/* line 304, ../homepagecss/sass/_base.scss */
#commentform .comment-form-row {
  width: 45.0%;
  vertical-align: middle;
}
/* line 308, ../homepagecss/sass/_base.scss */
#commentform .comment-form-row input {
  height: 25px;
  border: 1px solid #909090;
  width: 75%;
}
/* line 314, ../homepagecss/sass/_base.scss */
#commentform .comment-form-row label {
  float: left;
  width: 23%;
  font-weight: 700;
}
/* line 319, ../homepagecss/sass/_base.scss */
#commentform .comment-form-row textarea {
  width: 100%;
  height: 200px;
}
/* line 325, ../homepagecss/sass/_base.scss */
#commentform .form-submit input {
  background-color: #666;
  border: none;
  font-size: 12px;
  color: white;
  text-align: left;
  width: 54px;
  vertical-align: middle;
}

/* line 336, ../homepagecss/sass/_base.scss */
.alignleft {
  float: left;
  font-size: 12px;
}

/* line 340, ../homepagecss/sass/_base.scss */
.alignright {
  float: right;
  font-size: 12px;
}
br {
  display: block;
  margin: 0px 0;
  line-height:10px;
  content: " ";
}

/* CALENDAR */
.em-calendar {
  width: 98% !important;
  margin: 4px;
  font-size: 12px;
}
.em-calendar thead tr td {
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
.em-calendar tbody tr td {
  height: 100px;
}
.em-calendar tbody tr.days-names td {
  height: 30px;
  text-align: center;
  background-color: #efefef;
  vertical-align: middle;
}
.em-calendar tbody tr td.eventful a {
  color: #6264AB;
}
.em-calendar tbody tr td.eventless {
  color: #666;
}
.em-calnav-prev, .em-calnav-next {
  color: #6264AB;
}
.em-calnav-prev:hover, .em-calnav-next:hover {
  color: #d2d2e8;
}

/* grid content */
.grid_4  section, .grid_2  title {
  padding-left: 6px;
  padding-right: 6px;
}
