/* line 13, ../../homepagecss/sass/colors/blog.scss */
body {
  background-color: #dedede;
}

/* line 20, ../../homepagecss/sass/colors/blog.scss */
header #bottom_strip ul li a:hover {
  color: #f612fe;
}
/* line 24, ../../homepagecss/sass/colors/blog.scss */
header #bottom_strip ul .current-menu-item a {
  color: #f612fe;
}

/* line 32, ../../homepagecss/sass/colors/blog.scss */
#main .post a {
  color: #6264ad;
}
/* line 34, ../../homepagecss/sass/colors/blog.scss */
#main .post a:hover {
  color: #f612fe;
}
/* line 39, ../../homepagecss/sass/colors/blog.scss */
#main .content {
  border-bottom: thin solid #dedede;
}
/* line 42, ../../homepagecss/sass/colors/blog.scss */
#main .last {
  border-bottom: none;
}
/* line 46, ../../homepagecss/sass/colors/blog.scss */
#main #page-container #left-bar {
  border-right: thin solid #dedede;
}
/* line 49, ../../homepagecss/sass/colors/blog.scss */
#main #page-container #sidebar {
  border-left: thin solid #dedede;
}

/* line 55, ../../homepagecss/sass/colors/blog.scss */
::-moz-selection {
  background: #ccc;
  text-shadow: none;
}

/* line 56, ../../homepagecss/sass/colors/blog.scss */
::selection {
  background: #ccc;
  text-shadow: none;
}
