/* line 1, ../../homepagecss/sass/colors/green.scss */
body {
  background-color: #399;
}

/* line 8, ../../homepagecss/sass/colors/green.scss */
header #bottom_strip ul li a:hover {
  color: #399;
}
/* line 12, ../../homepagecss/sass/colors/green.scss */
header #bottom_strip ul .current-menu-item a {
  color: #399;
}

/* line 18, ../../homepagecss/sass/colors/green.scss */
::-moz-selection {
  background: #399;
  text-shadow: none;
}

/* line 19, ../../homepagecss/sass/colors/green.scss */
::selection {
  background: #399;
  text-shadow: none;
}
