@import "components/header";
@import "components/calendar";
@import "components/comments";
@import "components/lists";
@import "layout";

body {
  color: #000;
  font-family: 'PT Serif', serif; //Courier New, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 1600px;
}


footer {
  height: auto;
  min-height: 30px;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
  background-color: white;
  float: left;
  width: 100%;
  margin-top: 1px;
}
footer #address {
  color: #909090;
  padding-left: 1em;
  padding-top: 7px;
  font-size: 12px;
}

#main {
  float: left;
  width: 100%;
  color: #000;
  background-color: white;
}

#main p {
  word-wrap: break-word;
}
#main h1 {
  font-weight: bold;
}

#main .content {
  width: 100%;
  padding: 1em;
  display: inline-block;
}

#main .content.home {
  padding: 1em 0;
}
#main .content .title {
  font-size: 16px;
  font-weight: 900;
}
#main .content .date {
  color: #999;
  font-size: 14px;
}
#main .content h1 {
  font-size: 16px;
}
#main .content h1 a {
  color: #000;
}
#main .content p {
  font-size: 14px !important;
  line-height: 20px !important;
}
#main .content .navigation {
  width: 100%;
  float: left;
  height: 60px;
}
#main .last {
  border-bottom: none;
}
/*#main .post {
  padding-left: 20px;
  padding-right: 20px;
}*/
/*#main .post form {
  width: 45.0%;
}*/
#main .post form input {
  height: 25px;
  border: 1px solid #909090;
  width: 75%;
}
#main .post form input[type=submit] {
  background-color: #666;
  border: none;
  font-size: 14px;
  color: white;
  text-align: left;
  width: 35.5%;
}
#main .catlist {
  padding: 1em;
}
#main .catlist li {
  list-style-type: none;
  padding: 0.5em 0 0.5em 0;
  border: none;
  font-size: 12px;
}
#main #page-container {
  float: left;
  width: 100%;
  overflow: hidden;
  padding: 0 1em;
}
#main #page-container .last {
  margin-bottom: 0px;
}

/*#barcontent .arrow-link {
  background-image: url("../images/arrow_left.png");
  background-repeat: no-repeat;
  background-position: 95% center;
}*/
#main #page-container #sidebar #barcontent h2 {
  padding: 0 1em;
}
#main #page-container #sidebar #barcontent .sidetitle {
  border-bottom: 1px solid #999;
  padding-bottom: 0.5em;
  font-size: 16px;
}


.thin_rule {
  width: 100%;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
  padding-bottom: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.thin_rule a {
  color: #6264ad;
}
.thin_rule a:hover {
  color: #d2d2e8;
}

a {
  text-decoration: none;
}

.col1 h2 {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.col1 h2 .caption {
  color: #909090;
  font-weight: 500;
}

.col h2 {
  font-size: 12px;
  color: #909090;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
}
.col h3 {
  font-size: 12px;
  font-weight: 500;
  color: #6264ad;
  margin-top: 10px;
  margin-bottom: 10px;
}
.col h3 .date {
  font-size: 10px;
  color: #909090;
}
h3 {
  font-size: 14px;
}
.pagetitle {
  font-weight: 900;
  font-size: 14px;
}



.alignleft {
  float: left;
  font-size: 12px;
}
.alignright {
  float: right;
  font-size: 12px;
}

.subtitle {
  font-size: 12px;
  color: #999;
}
